# ðŸ“Š Dataset Information

**Note:** The dataset for this project is **not included in this repository** to keep the repository lightweight.  

You can download the dataset from **Kaggle** using the link below:  

[Download the Global Population Dataset](https://www.kaggle.com/datasets/raveennimbiwal/global-population-stats-2024/data)  

Please make sure to place the downloaded CSV file in the same directory as this notebook before running any code.

# Importing

## Import Librery

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import CSV And convert to DataFrame

In [2]:
df = pd.read_csv('global_population_stats_2024.csv')

# PreProcessing

## Details of Dataset

### Frist five row

In [3]:
df.head(20)

,Country,Population Aged 0 to 14 (%),Population Aged 60 and Over (%),Population density,Population(in millions),Female Population(in millions),Male Population(in millions),Sex ratio (males per 100 females)
0,Afghanistan,42.9,3.9,65.7,42.65,21.12,21.53,102.0
1,Albania,16.8,23.5,101.9,2.79,1.41,1.38,97.8
2,Algeria,30.3,10.0,19.7,46.81,22.94,23.87,104.1
3,Andorra,11.9,23.2,174.3,0.08,0.04,0.04,104.6
4,Angola,44.4,4.6,30.4,37.89,19.14,18.75,98.0
5,Antigua and Barbuda,17.8,17.7,213.1,0.09,0.05,0.04,90.8
6,Argentina,21.6,16.8,16.4,45.70,23.02,22.68,98.5
7,Armenia,19.2,20.4,104.5,2.97,1.59,1.38,86.7
8,Australia,17.8,23.5,3.5,26.71,13.46,13.25,98.5
9,Austria,14.2,27.9,110.5,9.12,4.63,4.49,97.0
10,Azerbaijan,21.8,14.2,125.1,10.34,5.27,5.07,96.1
11,Bahamas,17.9,17.0,74.9,0.40,0.21,0.19,91.4
12,Bahrain,18.7,6.7,2052.4,1.61,0.61,1.00,163.4
13,Bangladesh,28.0,9.5,1333.4,173.56,88.22,85.34,96.7
14,Barbados,17.2,23.3,656.9,0.28,0.15,0.14,92.1
15,Belarus,16.3,25.0,44.6,9.06,4.84,4.22,87.3
16,Belgium,16.0,27.2,387.7,11.74,5.95,5.79,97.3
17,Belize,26.6,8.0,18.3,0.42,0.21,0.21,101.8
18,Benin,41.6,5.0,128.3,14.46,7.21,7.25,100.6
19,Bhutan,20.9,9.6,20.6,0.79,0.37,0.42,114.8

### last Five row

In [4]:
df.tail(20)

,Country,Population Aged 0 to 14 (%),Population Aged 60 and Over (%),Population density,Population(in millions),Female Population(in millions),Male Population(in millions),Sex ratio (males per 100 females)
172,Tonga,35.4,9.7,160.3,0.10,0.06,0.05,89.5
173,Trinidad and Tobago,17.8,18.6,293.9,1.51,0.76,0.75,97.8
174,Tunisia,24.0,14.4,79.0,12.28,6.21,6.07,97.7
175,Turkmenistan,31.5,7.9,15.9,7.49,3.82,3.68,96.4
176,Tuvalu,32.9,11.1,321.5,0.01,0.00,0.00,104.8
177,Turkey,21.4,15.0,113.7,87.47,43.81,43.66,99.7
178,Uganda,43.5,3.5,250.3,50.02,25.21,24.81,98.4
179,Ukraine,13.9,26.3,65.4,37.86,20.26,17.60,86.9
180,United Arab Emirates,16.1,3.7,155.3,11.03,3.98,7.05,177.0
181,United Kingdom,17.2,25.5,284.8,69.14,35.09,34.04,97.0
182,Tanzania,42.5,4.5,77.4,68.56,34.58,33.98,98.3
183,United States of America,17.3,24.2,37.8,345.43,171.88,173.55,101.0
184,Uruguay,18.3,21.4,19.6,3.39,1.74,1.64,94.2
185,Uzbekistan,31.1,9.5,85.5,36.36,18.02,18.34,101.8
186,Vanuatu,38.3,6.7,26.9,0.33,0.16,0.17,101.9
187,Venezuela,25.5,14.3,31.0,28.41,14.37,14.03,97.6
188,Vietnam,23.2,13.9,322.2,100.99,51.53,49.46,96.0
189,Yemen,41.1,4.0,76.9,40.58,20.03,20.56,102.7
190,Zambia,41.5,3.3,28.7,21.32,10.76,10.55,98.0
191,Zimbabwe,40.9,5.0,43.0,16.63,8.71,7.93,91.1

### Shape of our dataset

In [5]:
df.shape

(192, 8)

### List out all columns

In [6]:
df.columns

Index(['Country', 'Population Aged 0 to 14 (%)',
       'Population Aged 60 and Over (%)', 'Population density',
       'Population(in millions)', 'Female Population(in millions)',
       'Male Population(in millions)', 'Sex ratio (males per 100 females)'],
      dtype='object')

### Datatype of each columns

In [7]:
df.dtypes

Country                               object
Population Aged 0 to 14 (%)          float64
Population Aged 60 and Over (%)      float64
Population density                   float64
Population(in millions)              float64
Female Population(in millions)       float64
Male Population(in millions)         float64
Sex ratio (males per 100 females)    float64
dtype: object

### Information of all Columns

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            192 non-null    object
 1   Population Aged 0 to 14 (%)        192 non-null    float64
 2   Population Aged 60 and Over (%)    192 non-null    float64
 3   Population density                 192 non-null    float64
 4   Population(in millions)            192 non-null    float64
 5   Female Population(in millions)     192 non-null    float64
 6   Male Population(in millions)       192 non-null    float64
 7   Sex ratio (males per 100 females)  192 non-null    float64
dtypes: float64(7), object(1)
memory usage: 12.1+ KB

### Check Null Value

In [9]:
df.isnull().sum()

Country                              0
Population Aged 0 to 14 (%)          0
Population Aged 60 and Over (%)      0
Population density                   0
Population(in millions)              0
Female Population(in millions)       0
Male Population(in millions)         0
Sex ratio (males per 100 females)    0
dtype: int64